<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Define a plugin for an appropriate interface -->
    <type name="Magento\Sales\Api\CreditmemoManagementInterface">
        <plugin name="Egits_refund_plugin" type="Egits\RefundChargeFee\Plugin\RefundOperationPlugin" sortOrder="1" />
    </type>
    <!-- Adjust other preferences as needed -->
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals" type="Egits\RefundChargeFee\Block\Adminhtml\Order\Totals" />
    <preference for="Egits\RefundChargeFee\Api\Data\OrderInterface" type="Egits\RefundChargeFee\Model\Order\Order"/>
</config>
